//MISC
//----
@import "wrapper";
@import "core";
@import "vars";
@import "refer";
//COMPONENTS
//-----------

//PAGES
//------

@import "header_page";
@import "footer_page";
@import "content_register";


//Skins
//-------

//Plugins
//--------

@media (min-width: 320px){}
@media (min-width: 768px){
	.header_register{
		width:1000px;
		margin:0 auto;
		.hr{
			border:none;
			display: block;
			width:1000px;
			max-width:inherit;
			.logo{
				height:inherit;
			}
		}		
	}
	#content-1{
		min-height:600px;
		.ct_loginTip{
			margin-left:55px;
		}
		.ct_popLogBox{
			li{
				strong{
					width: 50px;
				    color: #666;
				    float: left;
				    overflow: hidden;
				    clear: left;
				    text-align: left;
				    text-overflow: ellipsis;
				    white-space: nowrap;
				    display: inline-block;
				    line-height: 16px;
				}
				.styIptTxt{
					padding-right:20px;
					&.error{
						&:after{
						right:0px;
						top:5px;							
						}
						input:{
							border-color: #f1748f;
						}
					}
					&.succees{
						&:after{
							right:0px;
							top:3px;
						}
					}
					input{
						height:16px;
					    width: 230px;
					    border: 1px solid;
					    border-color: #858585 #e2e2e2 #e2e2e2 #c1c1c1;
					}
				}
			}
			.styCheckBox{
				label{
					margin-left:55px;
				}
			}
			.popLogBtn{
				margin-left:55px;
				button{
					width: 72px;
    				height: 40px;
					background-position: -330px -200px;
				}
			}
		}
		.popLogShare{
			.mobLogShare{
					text-align: inherit;
					width: inherit;
					height: inherit;
					line-height: inherit;
					border: inherit;
					margin-bottom: inherit;
				    cursor: pointer;
					color: #999;
				.desHidden{
					display: none
				}
				.mobHidden{
					display: inline-block
				}
			}
		}
	}
	.content_register{
		background:  url('../imgs/meize42.jpg') center center no-repeat;
		position: relative;
		min-height:600px;
		.cr_post{
		    width: 1000px;
		    display: block;
		    padding-top: 80px;
			.cr_wp{
				background: white;
				min-width:360px;
				padding:30px 25px;
				float: left;
			}			
		}

	}
	.footer_register{
		.ft_wp{
			max-width: inherit;
			border-top:none;
			p{
				span{
					display: inline-block;
				}
			}
		}
	}

}
@media (min-width: 970px){}
@media (min-width: 1170px){}