.aboutNav dt em, .aboutNav h2 em, .accountNav dt em, .actOrdShip a em, .allActive em, .blogGrade, .brandintroSeeMore em, .btnSearch, .cartCoupon span, .cartEdit em, .categoryNav h2 em, .colorLump.disabled em, .iconA, .iconAdd, .iconAlipay, .iconArrow1, .iconArrow2, .iconArrow3, .iconArrowDown, .iconArrowL, .iconArrowR, .iconArrowUp, .iconBags, .iconBell, .iconClose, .iconComment, .iconFlame, .iconKaixin, .iconKaixin2, .iconKaixin3, .iconLarge, .iconList, .iconMore, .iconMore2, .iconNavHover, .iconOpen, .iconPrint, .iconQ, .iconQQ, .iconRenren, .iconRenren2, .iconRenren3, .iconResultArrow, .iconReview, .iconSelect, .iconSina2, .iconSina3, .iconSina4, .iconSina5, .iconSold, .iconSouhu, .iconStock, .iconTagHot, .iconTaobao, .iconTengxun, .iconVectorLogo, .iconWangyi, .iconZoom, .lblCheckbox em, .mapLoctor, .oneList li h3 em, .proSelectTip .announce em, .processBox dd, .searchOperate .more em, .selectNav, .solutionNav h2 em, .storeNav dt em, .styIptTxt em, .tabMode em, .topStore .iconStore, .topUp em ,.styIptTxt.error:after,.styIptTxt.succees:after{
    background-image: url('../imgs/spriteIcon.gif');
    background-repeat: no-repeat;
}

.iconAlipay {
    background-position: 0 -490px
}

.iconSina4 {
    background-position: 0 -510px
}

.iconKaixin2 {
    background-position: 0 -530px
}

.iconWangyi {
    background-position: 0 -550px
}

.iconRenren2 {
    background-position: 0 -570px
}

.iconQQ {
    background-position: 0 -590px
}

.iconTaobao {
    background-position: 0 -1122px
}